@media only screen and (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    article {
        background-color: var(--seda);
        display: flex;
        flex-direction: column;
        width: 320px;
        align-items: center;
        gap: 50px;
    }

    article > img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width: 769px) {
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        align-items: center;
        margin: 200px 0;
    }

    article {
        background-color: var(--seda);
        display: flex;
        flex-direction: column;
        width: 320px;
        align-items: center;
        gap: 100px;
    }

    article > img {
        width: 200px;
        height: 200px;
    }
}