:root {
    --cerna: #000000;
    --bila: #ffffff;
    --oranzova: #ff7235;
    --seda: #dedede;
}

body {
    font-family: 'Inter';
}

@media only screen and (max-width: 768px) {
    .name {
        font-weight: 700;
        font-size: 20px;
    }
    
    nav > a {
        color: var(--cerna);
        text-decoration: none;
        font-size: 14px;
    }
    
    .footer__links > a {
        color: var(--cerna);
        text-decoration: none;
        font-size: 16px;
    }
    
    p {
        font-size: 16px;
    }
    
    h1 {
        font-size: 32px;
        font-weight: 600;
    }
    
    h2 {
        font-size: 17px;
        font-weight: 600;
    }
    
    .button {
        padding: 15px 20px;
        color: var(--bila);
        background-color: var(--oranzova);
        border-radius: 30px;
        text-decoration: none;
        font-size: 16px;
        text-align: center;
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 66px;
        padding-bottom: 70px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding: 20px;
    }

    footer > p:nth-child(1) {
        padding-bottom: 30px;
    }

    .footer__links > a {
        margin: 14px 0;
    }

    h1 {
        text-align: center;
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 769px) {
    .name {
        font-weight: 700;
        font-size: 20px;
    }
    
    nav > a {
        color: var(--cerna);
        text-decoration: none;
        font-size: 16px;
    }
    
    .footer__links > a {
        color: var(--cerna);
        text-decoration: none;
        font-size: 16px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    p {
        font-size: 16px;
    }

    p:nth-child(2) {
        text-align: center;
    }
    
    h1 {
        font-size: 32px;
        font-weight: 600;
    }
    
    h2 {
        font-size: 17px;
        font-weight: 600;
    }
    
    .button {
        padding: 15px 20px;
        color: var(--bila);
        background-color: var(--oranzova);
        border-radius: 30px;
        text-decoration: none;
        font-size: 16px;
        text-align: center;
    }

    html {
        padding:  0 5%;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: flex;
        gap: 10%;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__links {
        display: flex;
        gap: 10%;
        align-items: center;
    }
}